
.message {
	background-color:#DDFFDD;
	border:1px solid #009900;
	width:200px;
}
.message li{ 
	list-style: none; 
}

.errors {
	background-color:#FFCCCC;
	border:1px solid #CC0000;
	width:400px;
	margin-bottom:8px;
}
.errors li{ 
	list-style: none; 
}